{% extends 'layout.twig' %}

{% set colors = ['black', 'white', 'red', 'blue', 'yellow', 'green'] %}
{% set width = 1920 %}
{% set height = 1080 %}

{% block body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  {% for color in colors %}

    <button style="background-color:{{ color }};left:{{ 20 + 40 * loop.index }}px" onclick=changeColor("{{ color }}")></button>

  {% endfor %}

  <canvas id="interface" width="{{ width }}" height="{{ height }}" style="z-index: 1;"></canvas>
  <canvas id="drawing" width="{{ width }}" height="{{ height }}" style="z-index: 0;"></canvas>
  <script src="/scripts/script.js"></script>
{% endblock %}
